<%- include('partials/header') %>
  <main>
    <%- include('partials/nav')%>
      <h2>Onze kaarten</h2>
      <% for(let i=0 ;i < pokemonCards.length;i++){ %>
        <article>
          <img src="<%= pokemonCards[i].imageUrl %>" alt="Pokémon kaart">
          <h2>Pokemon: <%= pokemonCards[i].name%>
              ID: <%= pokemonCards.id%>
          </h2 </article>
          <%}%>
  </main>
  <%- include('partials/footer') %>