<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/style.cs" </head>

<body>
  <nav>

  </nav>
  <h1>
    <%= shopName %>
  </h1>
  <p>
    <%=shopName%>
      <%=shopDescribtion%>
  </p>
  <h2>Aantal kaarten in ons assortiment</h2>

  <% for(let i=0 ;i<cards.length;i++){%>
    <article>
      <% if(i<4){%>
        <h3>
          <%=cards[i].name%>
            <%=cards[i].id%>
        </h3>
        <img src="<%= cards[i].imageUrl %>" alt="Pokémon kaart">
        <%}%>
    </article>
    <%}%>

      </article>
</body>

</html>